@page
@using AspDotNetRazorFirst.wwwroot.enums
@model AspDotNetRazorFirst.Pages.DetailsRecommandationsModel

@{
    ViewData["Title"] = "DetailsRecommandations";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@section css {
    <link href="@Url.Content("~/css/DetailsRecommandations.css")" rel="stylesheet" asp-append-version="true"/>
}




<<div class="delete-container px-5">
    <h4 class="text-light">Recommandations</h4>
    
    <p class="description text-light m-4">Sélectionnez les films que vous voulez ajouter ou revenez juste à l'annuaire</p>
    <form method="post">
    <div class="new-movies-general-container">
        @{ int movieAddIndex = 0; }
        @foreach (var movieToPossiblyAdd in @Model.NewMovies)
        {
            <div class="new-movie-container my-3">
                <div class="new-movie-image-container">
                    <img src="data:image;base64,@Convert.ToBase64String(movieToPossiblyAdd.MovieImageData)" class="new-movie-image"/>
                </div>
                <div class="new-movie-information-container">
                    <div class="new-movie-name text-light mx-2 my-3">@movieToPossiblyAdd.MovieName (@movieToPossiblyAdd.MovieDate.ToString("yyyy"))</div>
                    <p class="new-movie-description text-light mx-2">@movieToPossiblyAdd.MovieDesc</p>
                </div>
                <div class="new-movie-confirm-container">
                    <input class="new-movie-confirm form-check-input" type="checkbox" name="newMoviesToAdd" value="@movieAddIndex"/>
                </div>
            </div>
            movieAddIndex++;
        }
    </div>
    <button class="btn red-btn ms-4 px-2 my-4" type="submit">Ajouter les films/séries sélectionné(e)s</button>
    </form>
     <button class="btn ms-4 px-2"><a asp-page="Display">Retourner à l'annuaire</a></button>
</div>
