@page
@using AspDotNetRazorFirst.wwwroot.entities
@using AspDotNetRazorFirst.wwwroot.enums
@model DisplayModel

@{
    ViewData["Title"] = "Display";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@section css {
    <link href="@Url.Content("~/css/Display.css")" rel="stylesheet" asp-append-version="true"/>
}

<section class="container-fluid overall-container">
    <section class="container-fluid description-container text-center">
        <h1 class="display-4 text-light">Vous avez actuellement sauvegardé  @Model.NbFilms films et @Model.NbSeries séries</h1>
        <p class="text-light text-center description">Voir le bouton Ajouter un film pour en rajouter</p>
        <p class="text-light text-center description">Cliquez sur le bouton informations d'un film pour avoir plus d'informations à sont sujet</p>
        <p class="text-light text-center description">Cliquez sur le bouton supprimer du film que vous voulez supprimer</p>
    </section>
    
    <section class="container-fluid main-container p-0">
        <div id="button-container" class="row mx-0">
            <button id="add-button" class="btn my-4 px-2">
                <a asp-page="Create">AJOUTER UN FILM</a>
            </button>
            <button class="btn red-btn mx-4 px-2">
                <a class="display-mode-link" asp-page="" asp-route-displayMode="@MovieType.Movie.ToString()">SEULEMENT FILMS</a>
            </button>
            <button class="btn red-btn my-4 px-2">
                <a class="display-mode-link" asp-page="" asp-route-displayMode="@MovieType.Series.ToString()">SEULEMENT SERIES</a>
            </button>
            @if (@Model.DisplayMode != null)
            {
                <button class="btn mx-5 my-4 px-2">
                    <a class="display-mode-link" asp-page="" asp-route-displayMode="">ANNULER</a>
                </button>
            }
        </div>
        <section class="container-fluid movies-container">
            @if (Model.NbFilms != 0 || Model.NbSeries != 0)
            {
                foreach (var item in Model.Movie) {
                    <div class="movie-div">
                        <div class="movie-name">@Html.DisplayFor(modelItem => item.MovieName)</div>
                        <img src="data:image;base64,@Convert.ToBase64String(item.MovieImageData)" class="movie-image"/>
                        <div class="movie-buttons-container">
                            <button id="movie-information-button" class="btn px-2"><a asp-page="Details" asp-route-id="@item.MovieId">INFORMATIONS</a></button>
                            <button id="movie-delete-button" class="btn red-btn px-2"><a asp-page="Delete" asp-route-id="@item.MovieId">SUPPRIMER</a></button>
                        </div>
                    </div>
                }    
            }
        </section>
    </section>
</section>